
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Location</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let book of books; index as i; let e = even; let o = odd"
      [ngClass]="{ oddstyle: o, evenstyle: e}"
      (click)="OnSelect(i)"
    >
      <td><button mat-button color="accent" > {{ book.name.first +" "+ book.name.last | Name}}</button></td>
      <td appHover>{{ book.gender}}</td>
      <td appHover>{{ book.location.city }}</td>
      <td appHover>{{ book.email }}</td>
    </tr>
  </tbody>
</table>
